{% extends 'base.html' %}

{% block center %}

<h1 class='title'>{% block title %}{{ title }}{% endblock title %}</h1>
{% include "partials/search.html" %}
<div class="container-fluid px-md-3 px-0">
    {% if families %}
        <div class="row g-2">
            {% for family in families %}
                <div class="col-md-6 mb-2 cards-list" data-id="{{ family.id }}">
                    {% include "partials/card.html" %}
                </div>
            {% endfor %}
        </div>
        
        {% include "partials/pagination.html" %}
    {% else %}
        <p class="no-results">Nenhuma família encontrada.</p>
    {% endif %}
</div>
{% endblock %}