@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
        --primary-green: #4CAF50;
        --light-green: #E8F5E9;
        --dark-green: #223f1f;
    }
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, var(--primary-green) 0%, var(--dark-green) 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: white;
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container h2 {
    margin-bottom: 10px;
    font-weight: 700;
    color: #333;
}

.auth-container p {
    color: #555;
    margin-bottom: 20px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

.btn-auth {
    background: #28a745;
    border: none;
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-auth:hover {
    background: #218838;
}

.auth-link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.auth-link:hover {
    color: #000;
}
