{% extends 'base.html' %}
{% load static %}
{% block center %}
<div class="flow-header">
    <h1 class='title'>{% block title %}{{ title }}{% endblock title %}</h1>
    <a class='flowlink' href="{% url 'timeline' nome_familia %}">Timeline</a>
</div>

<div class="sandbox">
    <div class='subsystem-block' id="block1">
        UFPA
        <img src="{% static 'img/image.png' %}" alt="imagem aleatória" width='400' height='200' class="subsystem-image">
    </div>
    <div class='subsystem-block' id="block2">
        Quintal
        <img src="{% static 'img/image.png' %}" alt="imagem aleatória" width='200' height='100' class="subsystem-image">
    </div>
    <div class='subsystem-block' id="block3">
        Forragem
        <img src="{% static 'img/image.png' %}" alt="imagem aleatória" width='200' height='100' class="subsystem-image">
    </div>
    <div class='subsystem-block' id="block4">
        Roçado
        <img src="{% static 'img/image.png' %}" alt="imagem aleatória" width='200' height='100' class="subsystem-image">
    </div>
</div>

<div class="overlay" id="overlay">
    <div class="panel" id="panel">
        <h2>Seu Painel</h2>
        <p>Este é o conteúdo do seu painel. Você pode adicionar qualquer coisa aqui!</p>
    </div>
</div>

{% endblock %}