{% extends 'base.html' %}

{% block center %}

<h1 class='title'>Página Inicial - Dashboard</h1>
<div class='top-infos'>
    <div class='block-info'>
        <h3 class='block-title-info'>Total de Famílias: </h3>
        <p class='p-info'>{{ total_families }}</p>
    </div>
    <div class='block-info'>
        <h3 class='block-title-info'>Total de Cidades: </h3>
        <p class='p-info'>4</p>
    </div>
    <div class='block-info'>
        <h3 class='block-title-info'>Total de Níveis Avançados: </h3>
        <p class='p-info'>4</p>
    </div>
</div>
<div class='search-field'>
    <div class='filter'>
        <h4>Filtrar por nível</h4>
        <!--Aqui fica o campo de filtro--> 
    </div>
    <div class='search' >
        <h4>Pesquisar</h4>
        <!--Aqui fica o campo de pesquisa-->
    </div>
</div>
<section class='families-sec'>
    <div class='families-list'>
        <div class='families-list-header'>
            <h1 class='title'>Famílias Cadastradas</h1>
            <a id='add-family' href="{% url 'register' %}">Adicionar</a>
        </div>
        <div class="list-cards">
            {% for family in families|slice:":3" %}
                <div class='family-card trigger' onclick="redirect('{% url 'flow' family.nome_familia|slugify %}')">
                    <div class="family-card-header">
                        <div class='family-name'>
                            <h5>{{ family.nome_familia }}</h5>
                        </div>
                        <div class="family-card-actions">
                            <div class="tag-transition-level">Avançado</div>
                            <a class='edit-family' href="{% url 'edit_family' family.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <p>Responsável: {{ family.nome_titular}}</p>
                    <p>Localização: </p>
                    <br>
                    <p>Pontuação: </p>
                    <!--Aqui ficaria a linha de progressão x/100%-->
                </div>
            {% endfor %}
            <div class="list-families-a-div">
                <a class="list-families-a" href="{% url 'list_families' %}">Lista de Famílias</a>
            </div>
        </div>
    </div>
    <div class='family-data' id='target'>
        <div class='block-data'>
            <h3>Detalhes da Família</h3>
            <h6>Início da Transição: </h6>
            <p>{{ family.data_inic }}</p>
            <h6>Número para Contato</h6>
            <p>{{ family.contato }}</p>
        </div>
        <div class='block-data'>
            <h3>Subsistemas - Cultivos</h3>
        </div>
        <div class='block-data'>
            <h3>Práticas Agroecológicas</h3>
        </div>
    </div>
</section>
<br>
{% endblock %}