{% extends 'base.html' %}
{% load static %}
{% block center %}
<div class="flow-header">
    <div class="flow-header-main">
        <h1 class="title">
            {% block title %}{{ title }}{% endblock title %} 
            {{ subsystem.nome_subsistema }} da {{ family.get_nome_familia }}
        </h1>
    </div>
    {% if type == 'readonly' %}
        <div>
            <button class="btn btn-primary btn-timeline"
                    onclick="redirect('{% url 'edit_subsystem_panel' family.id subsystem.id %}')">
                <i class="fa-solid fa-shuffle"></i>
                Editar Fluxo
            </button>
            <button class="btn btn-primary btn-timeline"
                    onclick="redirect('{% url 'flow' family.id %}')">
                <i class="fa-solid fa-shuffle"></i>
                Visualizar Fluxo
            </button>
        </div>
    {% endif %}
</div>

<p>Descrição do painel. Aqui você pode adicionar informações relevantes sobre o subsistema</p>
{% if type == 'edit' %}
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}

  <table class="table">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Porcentagem</th>
        <th>Destino</th>
        <th>Ação</th>
      </tr>
    </thead>

    <tbody id="fluxo-rows">
      {% for form in formset %}
      <tr class="fluxo-row" data-produto="{{ form.nome_produto.value }}">
        <td class="produto-name">
          {{ form.nome_produto.value }}
          {{ form.nome_produto }}
        </td>
        <td>{{ form.porcentagem }}</td>
        <td>{{ form.destino }}</td>
        <td>
          <button type="button" class="btn btn-success add-row">+</button>
          <button type="button" class="btn btn-danger remove-row">-</button>
        </td>
      </tr>
      {% endfor %}

      <tr id="empty-form-row" class="fluxo-row" style="display:none;" data-produto="">
        <td class="produto-name"></td>
        <td>
          {{ formset.empty_form.nome_produto }}
          {{ formset.empty_form.porcentagem }}
        </td>
        <td>{{ formset.empty_form.destino }}</td>
        <td>
          <button type="button" class="btn btn-success add-row">+</button>
          <button type="button" class="btn btn-danger remove-row">-</button>
        </td>
      </tr>

    </tbody>
  </table>
  <button id="btn-flow" class="btn btn-success" type="submit">Salvar</button>
</form>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Porcentagem</th>
                <th>Destino</th>
            </tr>
        </thead>
    <tbody> 
        {% for produto in family_subsystem.produtos_saida %} 
            {% if produto.fluxos %} 
                {% for fluxo in produto.fluxos %} 
                    <tr> 
                        {% if forloop.first %} 
                            <td rowspan="{{ produto.fluxos|length }}">{{ produto.nome }}</td> 
                        {% endif %} 
                            <td>{{ fluxo.porcentagem|default:"0" }}%</td> 
                            <td>{{ fluxo.destino|default:"Sem Destino" }}</td> 
                        </tr> 
                {% endfor %} 
            {% else %} 
                <tr> 
                    <td>{{ produto.nome }}</td> 
                    <td>0%</td> 
                    <td>Sem Destino</td> 
                </tr> 
            {% endif %}
        {% endfor %} 
    </tbody>
    </table>
{% endif %}
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/panel.js' %}"></script>
{% endblock %}