{% extends 'base.html' %}
{% load static %}
{% block center %}
<div class="flow-header">
    <div class="flow-header-main">
        <h1 class="title">
            {% block title %}{{ title }}{% endblock title %} 
            {{ subsystem.nome_subsistema }} da {{ family.get_nome_familia }}
        </h1>
    </div>
    {% if type == 'readonly' %}
        <div>
            <button class="btn btn-primary btn-timeline"
                    onclick="redirect('{% url 'edit_subsystem_panel' family.id subsystem.id %}')">
                <i class="fa-solid fa-shuffle"></i>
                Editar Fluxo
            </button>
            <button class="btn btn-primary btn-timeline"
                    onclick="redirect('{% url 'flow' family.id %}')">
                <i class="fa-solid fa-shuffle"></i>
                Visualizar Fluxo
            </button>
        </div>
    {% endif %}
</div>

<p>Descrição do painel. Aqui você pode adicionar informações relevantes sobre o subsistema</p>

<form method="post">
    {% csrf_token %}
    
    {% if formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            {{ formset.non_form_errors }}
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Porcentagem</th>
                <th>Destino</th>
                {% if type == 'readonly' %}
                    <th>Ação</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% if type == 'edit' %}
            {{ formset.management_form }}
            {% for form in formset %}
                <tr>
                    <td>{{ form.nome_produto.value }}</td>
                    <td>{{ form.porcentagem }}</td>
                    <td>{{ form.destino }}</td>
                    {{ form.nome_produto }}
                </tr>
                {% if form.errors %}
                    <tr class="table-danger">
                        <td colspan="3">
                            <ul class="errorlist">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ field|title }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for produto in subsystem.produtos_saida %}
                <tr>
                    <td rowspan="{{ produto.fluxos|length|default:1 }}">{{ produto.nome }}</td>

                    {% if produto.fluxos %}
                        {% for fluxo in produto.fluxos %}
                            {% if not forloop.first %}<tr>{% endif %}
                                <td>{{ fluxo.porcentagem|default:"0" }}%</td>
                                <td>{{ fluxo.destino|default:"Sem Destino" }}</td>
                        {% endfor %}
                    {% else %}
                        <td>0%</td>
                        <td>Sem Destino</td>
                        
                    {% endif %}
                        <td><button class="btn btn-success add-row" onclick="addRow({{ produto }})">Adicionar</button></td>
                    </tr>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    </table>
    
    {% if type == 'edit' %}
        <button id="btn-flow" class="btn btn-success" type="submit">
            <p class='btn-text'>Salvar</p>
        </button>
    {% endif %}
</form>

{% endblock %}